<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/reset.css' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/fa/css/font-awesome.min.css' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/widgets.css' />
	<script>var app = {};</script>
</head>
<body>
	<div class="main-container">
		{{{body}}}
	</div>
	
	<script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/scripts/jquery.leanModal.min.js"></script>
	<script>
	$(document).ready(function(){
		$('.lean').leanModal({
			top : 200,
			overlay : 0.4,
			closeButton: ".modal_close"
		});
		
		if ( app.init )
		{
			app.init();
		}
	});
	</script>
</body>
</html>