
<div class="datagrid-box">
	<div class="datagrid-title-box">
		<span class="icon">
			<i class="fa fa-th"></i>
		</span>
		<h5>Répertoire de contacts</h5>
	</div>
	<div class="datagrid-content-box">
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Poste</th>
					<th>Numéro de téléphone</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="lastname">KEBA MAGNAGNA</td>
					<td class="firstname">Albert</td>
					<td>Analyste Programmeur</td>
					<td>005</td>
				</tr>
				<tr>
					<td class="lastname">KEBA MAGNAGNA</td>
					<td class="firstname">Albert</td>
					<td>Analyste Programmeur</td>
					<td>005</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>