
<div class="datagrid-box">
	<div class="datagrid-title-box">
		<span class="icon">
			<i class="fa fa-th"></i>
		</span>
		<h5>Répertoire de contacts</h5>
	</div>
	<div class="datagrid-content-box">
		<table class="tab-12">
			<thead>
				<tr>
					<th class="tab-3">Nom</th>
					<th class="tab-3">Prénom</th>
					<th class="tab-3">Poste</th>
					<th class="tab-3">Département</th>
				</tr>
			</thead>
			<tbody>
				{{#employees}}
				<tr>
					<td class="lastname" data-id="{{id}}">
						<a href="#" class="lean" name="user" rel="leanModal">{{lastName}}</a>
					</td>
					<td class="firstname">{{firstName}}</td>
					<td>{{title}}</td>
					<td>{{department}}</td>
				</tr>
				{{/employees}}
			</tbody>
		</table>
	</div>
</div>
<div id="user"></div>
<script type="text/javascript">
	app.init = function(){
		$('.lastname').on('click', function(){
			console.log('clk');
			var id = $(this).data('id'),
				self = $(this);

			$.ajax({
				url		: './users/user/' + id,
				type	: 'GET',
				success	: function( rs ){
					console.log(rs);
					$('#user').html('okokoko');
				}
			});
		});
	};
</script>