
<div class="datagrid-box">
	<div class="datagrid-title-box">
		<span class="icon">
			<i class="fa fa-th"></i>
		</span>
		<h5>Répertoire de contacts</h5>
	</div>
	<div class="datagrid-content-box">
		<table class="tab-12">
			<thead>
				<tr>
					<th class="tab-3">Nom</th>
					<th class="tab-3">Prénom</th>
					<th class="tab-3">Poste</th>
					<th class="tab-2">Département</th>
					<th class="tab-1"></th>
				</tr>
			</thead>
			<tbody>
				{{#employees}}
				<tr>
					<td class="lastname" data-id="{{id}}">
						<a href="#" class="lean" name="user" rel="leanModal">{{lastName}}</a>
					</td>
					<td class="firstname">{{firstName}}</td>
					<td>{{title}}</td>
					<td>{{department}}</td>
					<td>
						<a href="#" data-update-id="{{id}}">
							<span class="icon">
								<i class="fa fa-pencil"></i>
							</span>
						</a>
						<a href="#" data-update-id="{{id}}">
							<span class="icon">
								<i class="fa fa-trash-o"></i>
							</span>
						</a>
					</td>
				</tr>
				{{/employees}}
			</tbody>
		</table>
	</div>
</div>
<div class="modal fade">
	<div class="modal-dialog"></div>
</div>

<script type="text/javascript">
	app.init = function(){
        var template = null;
        
        $.get('/tmpl/modal.html', function( data ){
            template = Handlebars.compile( data );
        });
        
		$('.lastname').on('click', function(){
			$.ajax({
				url		: './users/user/' + $(this).data('id'),
				type	: 'GET',
				success	: function( rs ){
                    $('.modal-dialog').empty().append( template(rs[0]) );
                    $('.modal').modal();
				}
			});
		});
	};
</script>