<form id="addUser" action="post">
	<legend>User</legend>
	<input name="firstname">
	<input name="lastname">
	<input type="submit" value="submit" id="submit">
</form>
<script type="text/javascript">
app.init = function(){
	$('#submit').on('click', function(e){
		e.preventDefault();
		
		var $form = $('#addUser'),
			$data = $form.serialize();
		
		$.ajax({
			type	: 'POST',
			dataType: 'json',
			url		: './add',
			data	: $data,
			success	: function( r ){
				console.log(r);
				$form.trigger('reset');
			}
		});
	});
}
</script>