<div class="row">
	<div class="col-md-3 col-sm-3 col-xs-3 picture">
		{{#if employee.picture}}
		<img alt="{{employee.lastName}} {{employee.firstName}}" src="http://localhost:3000/img/{{employee.picture}}" />
		{{else}}
		<img alt="" src="http://localhost:3000/img/photo.jpg" />
		{{/if}}
	</div>
	<div class="col-md-9 col-sm-9 col-xs-9">
		<ul class="list-group">
			<li class="list-group-item">
				<label>Nom:</label> {{employee.lastName}} {{employee.firstName}}
			</li>
			<li class="list-group-item">
				<label>Département:</label> {{employee.department}}
			</li>
			<li class="list-group-item">
				<label>Position:</label> {{employee.title}}
			</li>
			<li class="list-group-item">
				<label>Courriel:</label> <a href="mailto:{{email}}">{{employee.email}}</a>
			</li>
			<li class="list-group-item">
				<label>Téléphone:</label> <a href="tel:{{email}}">{{employee.officePhone}}</a>
			</li>
		</ul>
	</div>
</div>