
<div class="datagrid-box">
	<div class="datagrid-title-box">
		<span class="icon">
			<i class="fa fa-th"></i>
		</span>
		<h5>Répertoire de contacts</h5>
	</div>
	<div class="datagrid-content-box">
		<table class="tab-12">
			<thead>
				<tr>
					<th class="tab-3">Nom</th>
					<th class="tab-3">Prénom</th>
					<th class="tab-3">Poste</th>
					<th class="tab-2">Département</th>
					<th class="tab-1"></th>
				</tr>
			</thead>
			<tbody>
				{{#employees}}
				<tr>
					<td class="lastname" data-id="{{id}}">
						{{lastName}}
					</td>
					<td class="firstname" data-id="{{id}}">
						{{firstName}}
					</td>
					<td>{{title}}</td>
					<td>{{department}}</td>
					<td>
						<a href="#" data-user-id="{{id}}" class="update">
							<span class="icon">
								<i class="fa fa-pencil"></i>
							</span>
						</a>
						<a href="#" data-user-id="{{id}}" class="delete">
							<span class="icon">
								<i class="fa fa-trash-o"></i>
							</span>
						</a>
					</td>
				</tr>
				{{/employees}}
			</tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a href="#" id="add-user" title="test">
                            <span class="icon">
                                <i class="fa fa-user-plus"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </tfoot>
		</table>
	</div>
</div>
<div class="bb-alert alert alert-info"><span></span></div>
<div class="modal fade">
	<div class="modal-dialog"></div>
</div>