
.datagrid-box
{
	background: none repeat scroll 0px 0px #FAFAFA;
	border: 1px solid #CDCDCD;
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}

.datagrid-title-box
{
    background-image: none;
    background-color: #FAFAFA;
    border-bottom-color: #D9D9D9;
	border-bottom: 1px solid #CDCDCD;
	height: 36px;
}
	.datagrid-title-box h5 
	{
		color: #666;
		text-shadow: 0px 1px 0px #FFF;
		float: left;
		font-size: 12px;
		font-weight: bold;
		padding: 12px;
		line-height: 12px;
		margin: 0px;	
	}

	.datagrid-title-box span.icon
	{
		border-right: 1px solid #CDCDCD;
		padding: 8px 10px 8px 11px;
		float: left;
		opacity: 0.7;	
	}

.datagrid-content-box table
{
	border: none;
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

	.datagrid-content-box table th
	{
		border-right: 1px solid #DDD;
		font-size: 11px;
		color: #666;
		text-align: center;
		vertical-align: middle;
		font-weight: 300;
	}
	.datagrid-content-box table th:last-child {border: none;}	
	.datagrid-content-box table th, .datagrid-content-box table td 
	{
		width: 25%;
		padding: 8px;
		line-height: 1.42857;
	}
	.datagrid-content-box table tbody > tr > td {border: 1px solid #DDD; font-size: 12px;}
		.datagrid-content-box table tbody > tr:last-child > td {border-bottom: none;}
		.datagrid-content-box table tbody > tr > td:last-child {border-right: none;}
		.datagrid-content-box table tbody > tr:hover > td {background-color: #F5F5F5; cursor: pointer;}
		.datagrid-content-box table tbody > tr:nth-child(2n+1) > td {background-color: #FCFCFC;}

.fa
{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}