.datagrid-box,
.panel-box
{
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #CDCDCD;
	clear: both;
	margin-bottom: 16px;
	margin-top: 16px;
	position: relative;
}

.datagrid-title-box
{
	background-color: #FAFAFA;
	background-image: none;
	border-bottom: 1px solid #CDCDCD;
	border-bottom-color: #D9D9D9;
	box-sizing: border-box;
	height: 36px;
}
	.datagrid-title-box h5 
	{
		color: #666;
		float: left;
		font-size: 12px;
		font-weight: bold;
		line-height: 12px;
		margin: 0;
		padding: 12px;
		text-shadow: 0 1px 0 #FFF;
	}

	.datagrid-title-box .icon
	{
		border-right: 1px solid #CDCDCD;
		float: left;
		opacity: 0.7;
		padding: 8px 10px 8px 11px;	
	}

.datagrid-content-box table
{
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

	.datagrid-content-box table th
	{
		border-right: 1px solid #DDD;
		color: #666;
		font-size: 11px;
		font-weight: 300;
		text-align: center;
		vertical-align: middle;
	}
	.datagrid-content-box table th:last-child {border: none;}	
	.datagrid-content-box table th, .datagrid-content-box table td 
	{
		line-height: 1.42857;
		padding: 8px;
	}
	.datagrid-content-box table tbody > tr > td {border: 1px solid #DDD; font-size: 12px; border-left: 0;}
		.datagrid-content-box table tbody > tr:last-child > td {border-bottom: none;}
		.datagrid-content-box table tbody > tr > td:last-child {border-right: none;}
		.datagrid-content-box table tbody > tr:hover > td {background-color: #F5F5F5; cursor: pointer;}
		.datagrid-content-box table tbody > tr:nth-child(2n+1) > td {background-color: #FCFCFC;}

    .datagrid-content-box table tfoot > tr > td {border-top: 1px solid #DDD; text-align: right;}
        .datagrid-content-box table tfoot .icon .fa-user-plus {color: #1fa67a;}

	.datagrid-content-box table a:hover {text-decoration: none;}

.fa
{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 12px;
	padding: 2px;
}

img {border: 1px solid #CDCDCD; padding: 2px;}

.col-1, .tab-1 {width: 8.3333%;}
.col-2, .tab-2 {width: 16.6667%;}
.col-3, .tab-3 {width: 25%;}
.col-4, .tab-4 {width: 33.3333%;}
.col-5, .tab-5 {width: 41.6667%;}
.col-6, .tab-6 {width: 50%;}
.col-7, .tab-7 {width: 58.3333%;}
.col-8, .tab-8 {width: 66.6667%;}
.col-9, .tab-9 {width: 75%;}
.col-10, .tab-10 {width: 83.3333%;}
.col-11, .tab-11 {width: 91.6667%;}
.col-12, .tab-12 {width: 100%;}

.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12 {float: left;}

.grid::after, .grid::before {box-sizing: border-box; content: ' '; display: table;}
.grid::after {clear: both;}